mkdocs==1.6.1
mkdocs-shadcn==0.11.0
mkdocs-git-revision-date-localized-plugin==1.5.3
mkdocs-minify-plugin==0.8.0
mkdocstrings==1.0.6
mkdocstrings-python==2.0.5
pymdown-extensions==10.21.3
Pygments==2.20.0